.App {
  text-align: center;
}
/* 
/* .footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  margin-top: calc(5% + 60px);
  bottom: 0;
  left: 0;
  width: 100%;
} */
